// 예시
// .container {
//     width: 100%;
//     .nested-test1 { // nested 사용
//       font-size: $font-size-root; // 변수 사용
//       .nested-test2 { // nested 사용
//         font-size: $font-size-root; // 변수 사용
//       }
//     }
//   }

// .row {
//     color: $color-main; // 변수 사용
// }
@font-face {
  font-family: 'NanumGothic';
  src: url('../fonts/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Handjet';
  src: url('../fonts/Handjet-Regular.ttf') format('truetype');
}

a {
  text-decoration: none;
  color: inherit;
}
#header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 100;
  .v-btn__content {
    color: $menu-color;
    font-size: 20px;
    font-family: 'NanumGothic';
  }
  .header-title {
    color: $logo-color;
    font-size: 30px;
    font-weight: bold;
    font-family: 'NanumGothic';
  }
}
.product-card {
  background-color: $secondary-color;
  color: #000000;
}
.fin-icon {
  width: 24px;
  margin-right: 5px;
}
.highlighted-value {
  font-weight: bold;
}
.shadow-text {
  text-shadow: 2px 2px 6px $grey-dark;
}
.fin-btn {
  background-color: $secondary-color;
}
.moa-btn {
  background-color: #ceebf5;
}
