// 참고: https://uxgjs.tistory.com/256
/*******************************************************************
// 위치 : src/assets/scss/variables.scss
// 설명 : 프로젝트 전체에 적용되는 변수에 대해 정의함
// 주의 : 컴포넌트 갯수 만큼 실행되기 때문에 변수에 대해서만 정의해야합니다. 
          (실제 CSS에 대한 적용은 _index.scss에 작성)
//        이 파일은 vite.config.js에 설정되면 됨
********************************************************************/
// vuetify를 사용할 경우 vuetify의 일부 변수를 사용할 수 있음
// @import '~vuetify/src/styles/styles.sass';

// Vuetify Globals
// Vuetify에 자동으로 오버라이드 됨
///////////////////////////////////////////////
$body-font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// 사용자 정의 변수
// 여기에 매인컬러, 서브컬러 등의 변수를 설정하면 SCSS 어디에서도 사용할 수 있습니다.
//////////////////////////////////////////////
$primary-color: #377dff;
$primary-dark: #2265e1;
$secondary-color: #cedfff;
$secondary-dark: #a2b5da;
$bg-color: #ebf2f6;

$grey-dark: #333333;
$grey-color: #666666;
$grey-light: #999999;

// 아래부터 공익규 작성
$logo-color: #2265e1;
$menu-color: #2a2b34;
